body {
    color: rgb(6, 23, 121);
    text-align: center;
    font-family:'Poetsen One', sans-serif;
}
/*
* para seleccionar todos los elementos 
*/
div{
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    border-width: 22px;
    background-color: blue;
    width: 137px;
    border-end-start-radius: 35px;
    position: relative;
    left: 545px;
    
}

label{
    color: aliceblue;
}

button{
    width: 30px;
    margin-bottom: 4px;
}

input{
    width: 128px;
    height: 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
}
